[Desktop Entry]
Type=Application
Name=File Transfer + DICOM Watcher
Comment=Starts file browser and watches for DICOM uploads
Exec=/root/Desktop/Tools/start-file-watcher
Terminal=false
Hidden=false
X-GNOME-Autostart-enabled=true
