[Desktop Entry]
Version=1.0
Type=Application
Name=nvtop
Comment=GPU Monitor
Exec=xfce4-terminal -x nvtop
Icon=utilities-system-monitor
Terminal=false
Categories=System;Monitor;
